<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting Page</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <div>
        <form action='/shop' method='POST'>
            <h1>Create new barber shop</h1>
            <div>
                <label for='name'>Shop name:
                    <input type='text' id='name' name='shop[name]' placeholder='Enter shops name' required />
                </label>
            </div>
            <div>
                <label for='address'>Shop address:
                    <input type='text' id='address' name='shop[address]' placeholder='Enter shops address' required />
                </label>
            </div>
            <div>
                <label>Prices for services</label>
            </div>
            <div>
                <label for='cut'>Cut price:
                    <input type='number' id='cut' name='shop[prices][cut]' placeholder='Enter price for a cut' />
                </label>
            </div>
            <div>
                <label for='beard'>Beard price:
                    <input type='number' id='beard' name='shop[prices][beard]' placeholder='Enter price for a bear' />
                </label>
            </div>
            <div>
                <label for='shave'>Shave price:
                    <input type='number' id='shave' name='shop[prices][shave]' placeholder='Enter price for a shave' />
                </label>
            </div>
            <div>
                <label for='shape'>Shape price:
                    <input type='number' id='shape' name='shop[prices][shape]' placeholder='Enter price for a shape' />
                </label>
            </div>
            <div>
                <button type='submit'>Create Shop</button>
            </div>
        </form>
    </div>
</body>

</html>