<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting Page</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class='content-wrapper'>
        <div class='banner'>
            <img src='/images/main-banner.jpg' alt='barber shop image' />
            <div class='intro-text'>
                <h1>Best Barbers in Town</h1>
                <hr />
                <h3>Treat yourself and your hair in our magnificent chain of barber shops located all around london</h3>
            </div>
            <div class='scroll-down'>
                <a href='#services'>
                    <h3>Scroll down</h3>
                    <h3 class='scroll-arrow'>></h3>
                </a>
            </div>
        </div>
        <main class='content'>
            <article id='services'>
                <h1>Treatments</h1>
                <div class='scissors-y-axis'><i class="fas fa-cut"></i></div>
                <div class='treatments-container'>
                    <div class='treatment'>
                        <div class='treatment-info'>
                            <h2>The Cut</h2>
                            <h3>The classic wash & cut with expert styling</h3>
                            <p>Whether you know the look you desire or need some creative guidance, our master barbers
                                will
                                design and refine your hair with pinpoint precision. Our blades are as sharp as their
                                handlers, and believe us – there is nothing that they can’t handle.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                    <div class='treatment'>
                        <div class='treatment-info'>
                            <h2>THE BEARD</h2>
                            <h3>The classic beard trim treatment</h3>
                            <p>The shape and sharpness of your beard, the freshness of your face and how it feels on
                                your
                                fingertips are all taken care of with this treatment. Your master barber will trim and
                                style
                                your beard, making sure to clean up any unsightly areas. A light lick of a flame will
                                emancipate your ears of unwanted hairs.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                    <div class='treatment'>
                        <div class='treatment-info'>
                            <h2>The Shave</h2>
                            <h3>The closest shave of your life!</h3>
                            <p>The master barber will get down to business here using traditional cut-throat razors
                                rendering an immaculate shave. Neck fluff will be vanquished, eyebrows trimmed, ears
                                flamed
                                and threading where required. This is topped off with an invigorating hot towel
                                treatment to
                                leave a smooth sensation upon your countenance.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                    <div class='treatment'>
                        <div class="treatment-info">
                            <h2>The Shape</h2>
                            <h3>Trim your beard back into shape!</h3>
                            <p>Our barbers know how important it is to keep your beard and stubble maintained. We will
                                razor
                                your neck and cheeks with artisan accuracy, flame your ears to singe the slightest of
                                hairs
                                and thread if required. The treatment is finished with a relaxing rinse and a reviving
                                hot
                                towel experience.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                </div>
                <div class='scissors-x-axis'><i class="fas fa-cut"></i></div>
            </article>
            <article id='locations'>
                <h1>Locations</h1>
                <div class='location-map'>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus a, nihil quaerat nemo
                        recusandae molestias explicabo dolorem expedita odio accusantium ipsa cupiditate ad est minima.
                        Eos quibusdam officia fugit. Earum vel sit amet ex tempora adipisci quasi quas officiis id a
                        hic, eos natus perspiciatis perferendis temporibus? Neque ipsum aliquid deleniti saepe dolorum,
                        at quia nulla unde ea in quod? Consequatur reiciendis quia ab vel quisquam ipsa perferendis eius
                        accusantium. Dolorem, laudantium accusantium tenetur suscipit quibusdam totam pariatur sit eos
                        quis rem similique ipsa nesciunt cumque incidunt optio hic ullam praesentium. Necessitatibus
                        pariatur libero voluptatum ducimus adipisci praesentium. Deserunt inventore delectus dolores
                        officiis, neque sit similique fuga totam quo aperiam incidunt quaerat molestias molestiae a
                        accusantium! Nihil quaerat voluptatum similique recusandae veniam, repellendus delectus dolorum
                        ipsum necessitatibus aliquid fuga totam aliquam laudantium omnis dolor. Dolorum voluptates
                        possimus similique nostrum in assumenda odio quo eaque dolorem, nam velit facere aliquid minus,
                        perferendis voluptatem. Tempora illum pariatur voluptatibus perspiciatis. Hic illo voluptates
                        dolores? Veniam, labore magni? Asperiores, earum quibusdam. Commodi deserunt nulla sint, dolorum
                        quo accusantium? Nostrum adipisci nisi assumenda officia voluptates enim quae placeat quasi,
                        debitis sit eum esse amet ipsam consequuntur excepturi, perspiciatis voluptatum laboriosam ipsa
                        odit? Voluptatibus, eum eveniet?</p>
                </div>
            </article>
        </main>
    </div>
</body>

</html>