@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Staatliches&display=swap');
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: beige;
    color: black;
    font-family: 'Staatliches', cursive;
    /* height: 100vh; */
}


/*MAIN PAGE*/

#landing-page {
    height: 100vh;
    width: 100%;
    background-image: url('../images/barber-shop-main_30.jpg');
    background-position: center;
    filter: grayscale(0.3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    letter-spacing: 1px;
}

#navigation {
    padding-top: 1rem;
}
#navigation > ul {
    display: flex;
    justify-content: center;
    animation: appear 1.5s ease-in;
    margin-top: 1rem;
}

#navigation > ul > li {
    list-style: none;
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
    background: rgba(0,0,0,0.5);
    
}

#navigation > ul > li:hover .nav-link {
    border-bottom: 2px solid brown;
    background:rgba(0,0,0,1);

}



.intro-text {
    padding: 2rem;
    width: 70%;
    margin: 1rem auto;
    background: rgba(0,0,0,0.7);
}

hr.divider {
    border: 2px solid brown;
    border-radius: 5px;
}

.intro-text > h1 {
    font-size: 3.5rem;
}

.intro-text > h3 {
    font-size: 1.25rem;
}

.intro-text > hr {
    margin: 0.75rem auto;
}

.scroll-down {
    animation: fadein ease-in-out 3s infinite;
    margin: 3rem;
}

.scroll-down > a {
    text-decoration: none;
    color: white;
}

h3.scroll-arrow {
    transform: rotate(90deg);
}

@keyframes fadein {
    0% { opacity: 0;transform: scale(1)}
    50% { opacity: 1; transform: scale(1.1)}
    100% { opacity: 0;transform: scale(1)}
}

@keyframes appear {
    0% {opacity: 0}
    100% {opacity: 1}
}

/*Content*/
#services > h2, #locations > h2, #contact > h2 {
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
}

#services {
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    padding: 1rem 0;
}
/* Treatments */
.treatments-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.treatment {
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px dashed brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.treatment:last-child {
    border-bottom: none;
}

.treatment-info > h2 {
    font-size: 2rem;
    padding: 1rem;
}

.treatment-info > h3 {
    border-bottom: 2px solid brown;
    border-top: 2px solid brown;
    font-size: 1.25rem; 
    padding: 1rem;
    letter-spacing: 1px;
}

.treatment-info > p {
    line-height: 25px;
    padding: 2rem;
    font-size: 1.25rem;
}

.divider > i {
    font-size: 1.5rem;
    padding: 0.25rem;
}

.price {
    margin: 1rem;
    letter-spacing: 0.75px;
}

.price > span {
    color: brown;
}

.scissors-y-axis, .scissors-x-axis  {
    text-align: center;
}
.scissors-y-axis > i {
    transform: rotate(90deg);
}

.scissors-x-axis > i {
    transform: rotate(-90deg);
}

/* Locations */
#locations {
    background-color: black;
    color: beige;
    border: 1px solid black;
    padding: 1rem 0;
}

#locations > h3 {
    text-align: center;
    padding-bottom: 1rem;
}

#map {
    height: 300px;
    width: 90%;
    margin: 0rem auto;
    border: 2px solid rgba(165,42,42,0.7);
}

/* Barber shops on a main page */

#barber-shops {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem auto;
    justify-content: space-around;

}

.shop {
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    margin: 1rem auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.9) inset;
    background: rgba(245,245,220, 0.9);
    color: black;
    text-align: center;
    padding: 1rem;
    display: flex;
}

.shop > h2, .shop > h4 {
    letter-spacing: 1px;
}

.shop > h4 {
    color: rgba(0,0,0,0.7);
    padding: 0.25rem;
}

.shop > .shop-link {
    display: block;
    width: 80%;
    margin: 1rem auto;
    text-decoration: none;
    color: white;
    background-color: rgba(165,42,42,0.8);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.shop > .shop-link:hover {
    background-color: brown;
}

#no-shops-message {
    margin: 0 auto;
    padding: 1rem;
    letter-spacing: 1px;
}

/*CREATE NEW SHOP AND EDIT SHOP*/
.create-shop, .view-shop, .edit-shop {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../images/barber-shop-chairs_30.jpg');
    background-position: center;
    background-size: cover;
}

#create-shop, #view-shop, #edit-shop {
    width: 450px;
    background-color: rgba(0,0,0,0.8);
    margin: 1rem 0;
    padding: 1rem 0;
    color: white;
    letter-spacing: 1px;
}
.create-shop > h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: rgba(0,0,0,0.8);
    padding: 1.5rem;
    margin: 0 0.5rem; 
}

#create-shop > h2, #edit-shop > h2 {
    color: brown;
    font-size: 2.5rem;
    padding: 0.25rem 2rem;
}

.link-back {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    padding: 1.5rem;
    background-color: rgba(0,0,0,0.8);
    display: block;
}

.link-back:hover {
    background-color: rgba(0,0,0,1);
}
#create-shop > div, #edit-shop > div {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

#create-shop > div > label, #edit-shop > div > label {
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: block;
    width: 90%;
    margin: 0.25rem auto;
}


#create-shop > div > input, #edit-shop > div > input {
    height: 2.5rem;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
    color: brown;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
}

#create-shop > div > input::placeholder {
    color: brown; 
    text-transform: uppercase;
}

#create-shop > div > input:focus, #edit-shop > div > input:focus {
    outline-color: brown;
    outline: brown;
    border: 1px solid brown;
}

#create-shop > div > button, #edit-shop > div > button {
    width: 90%;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Staatliches', cursive;
    border-radius: 5px;
    background-color: rgba(165,42,42,0.9);
    color: white;
    border: none;
}

#create-shop > div > button:hover, #edit-shop > div > button:hover {
    cursor: pointer;
    background-color: brown;
}

.edit-shop > h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: rgba(0,0,0,0.8);
    padding: 1.5rem;
    margin: 0 0.5rem; 
}

.edit-shop-header {
    padding: 0;
    font-size: 2.5rem;
    text-align: center;
    color: brown;
}



/*VIEW SHOP*/

.view-shop > h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: rgba(0,0,0,0.8);
    padding: 1.5rem;
    margin: 0 0.5rem; 
}

.view-shop-header {
    padding: 0;
    font-size: 2.5rem;
    text-align: center;
    color: brown;
}

#shop-address {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    text-align: center;
}

.price-list {
    list-style: none;
    margin-bottom: 1rem;
}

.price-list > li {
    text-align: center;
    color: white;
    padding: 0.1rem;
}

#view-shop-control-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
}

#view-shop-control-buttons > div, #view-shop-control-buttons > form {
    width: 46%;
    text-align: center;
    border-radius: 5px;
}

#shop-edit > a, #shop-delete > button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    background-color: rgba(165,42,42,0.7);
    outline: none;
    border: none;
    line-height: 40px;
    height: 40px;
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    text-shadow: none;
    letter-spacing: 0;
    transform: all 0.2s ease-in-out;
    border-radius: 5px;
}

#shop-edit > a:hover, #shop-delete > button:hover {
    cursor: pointer;
    background-color: rgb(165,42,42);
}

#shop-delete > button {
    background-color: rgb(128,0,0);
}

#add-shop {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(165,42,42,0.8);
    width: 50%;
    margin: 2rem auto 0 auto;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

#add-shop:hover {
    background-color: rgb(165,42,42)
}


/*Not Found page*/

#not-found {
    background-image: url('../images/barber-shop-main.jpeg');
    background-position: center;
    filter: grayscale(0.3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#not-found > div {
    color: white;
    font-size: 2.5rem;
    background: rgba(0,0,0,0.7);
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: beige;
}



@media (min-width: 700px) {
    .treatment {
        width: 50%;
        border: 1px dashed brown;
    }

    .treatment:nth-child(odd) {
        border-left: none;
    }
    .treatment:nth-child(even) {
        border-right: none;
    }
    .treatment:nth-of-type(1), .treatment:nth-of-type(2) {
        border-top: none;
    }
    .treatment:nth-of-type(3), .treatment:nth-of-type(4) {
        border-bottom: none;
    }

    .shop {
        width: 24%;
        /* margin: calc(10% / 6); */
    }
}