@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Staatliches&display=swap');
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: beige;
    color: black;
    font-family: 'Staatliches', cursive;
    height: 100vh;
}


/*MAIN PAGE*/
.banner {
    color: white;
    height: 100vh;
}

.image-container {
    height: 100vh;
    width: 100%;
    background-image: url('../images/barber-shop-main_30.jpg');
    background-position: center;
    filter: grayscale(0.3)
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    background: rgba(0,0,0,0.7);
}

.intro-text > h1 {
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}

.intro-text > h3 {
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
    letter-spacing: 1px;
}

.intro-text > hr {
    margin: 0.75rem auto;
}

.scroll-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein ease-in-out 3s infinite;
    text-align: center;
}

.scroll-down > a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

h3.scroll-arrow {
    width: 10%;
    margin: 0 auto;
    transform: rotate(90deg);
}

@keyframes fadein {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}

}

/*Content*/
#services > h2, #locations > h2 {
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
}

#services {
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    padding: 1rem 0;
}
/* Treatments */
.treatments-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.treatment {
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px dashed brown;
}

.treatment:last-child {
    border-bottom: none;
}

.treatment-info > h2 {
    font-size: 2rem;
    padding: 1rem;
}

.treatment-info > h3 {
    border-bottom: 2px solid brown;
    border-top: 2px solid brown;
    font-size: 1.25rem; 
    padding: 1rem;
    letter-spacing: 1px;
}

.treatment-info > p {
    line-height: 25px;
    padding: 2rem;
    font-size: 1.25rem;
}

.divider > i {
    font-size: 1.5rem;
    padding: 0.25rem;
}

.price {
    margin: 1rem;
    letter-spacing: 0.75px;
}

.price > span {
    color: brown;
}

.scissors-y-axis, .scissors-x-axis  {
    text-align: center;
}
.scissors-y-axis > i {
    transform: rotate(90deg);
}

.scissors-x-axis > i {
    transform: rotate(-90deg);
}

/* Locations */

#locations {
    min-height: 100vh;
    background-color: black;
    color: beige;
    border: 1px solid black;
}

#locations > h3 {
    text-align: center;
    padding-bottom: 1rem;
}

#map {
    height: 300px;
    width: 90%;
    margin: 0rem auto;
    border: 2px solid rgba(165,42,42,0.7);
}


/*create new shop form*/
.create-shop{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../images/barber-shop-chairs_30.jpg');
    background-position: center;
    background-size: cover;
}

#create-shop {
    width: 450px;
    background-color: rgba(0,0,0,0.7);
    margin: 1rem 0;
    padding: 1.5rem 0;
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}
.create-shop > div > h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    background-color: rgba(0,0,0,0.7);
    padding: 1.5rem;
    margin: 0 0.5rem; 
}

.create-shop > div > a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    padding: 1.5rem;
    background-color: rgba(0,0,0,0.7);
    display: block;
}

.create-shop > div > a:hover {
    background-color: rgba(0,0,0,0.8);
}
#create-shop > div {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

#create-shop > div > label {
    font-size: 1.5rem;
    letter-spacing: 1px;
    display: block;
    width: 90%;
    margin: 0 auto;
}


#create-shop > div > input {
    height: 2.5rem;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    color: brown;
}

#create-shop > div > input::placeholder {
    color: brown; 
}

#create-shop > div > input:focus {
    outline-color: brown;
}

#create-shop > div > button {
    width: 90%;
    margin: 1rem auto 0 auto;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Staatliches', cursive;
    border-radius: 5px;
    background-color: rgba(165,42,42,0.9);
    color: white;
    border: none;
}

#create-shop > div > button:hover {
    cursor: pointer;
    background-color: brown;
}

 .section-description {
    color: brown;
}

.section-description > p {
    text-align: center;
    color: white;
}
#create-shop > .section-description > label {
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

#create-shop > .section-description > h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 0 1rem 1rem 1rem;
}

/* Barber shops on a main page */

#barber-shops {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem auto;

}

.shop {
    width: 100%;
    margin: 1rem 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.9) inset;
    background-color: beige;
    color: black;
    text-align: center;
    padding: 1rem;
}

.shop > h2, .shop > h4 {
    letter-spacing: 1px;
}

.shop > h4 {
    color: rgba(0,0,0,0.7);
    padding: 0.25rem;
}

.shop > .shop-link {
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgba(165,42,42,0.8);
    padding: 5px;
    margin: 0.5rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.shop > .shop-link:hover {
    background-color: brown;
}

/*view shop*/

.price-list {
    list-style: none;
    margin-bottom: 1rem;
}

.price-list > li {
    text-align: center;
    color: white;
    padding: 0.1rem;
    width: 50%;
    float: left;
}

#create-shop > #shop-buttons {
    flex-direction: row;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
}

#shop-buttons > div, #shop-buttons > form {
    width: 40%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#shop-edit > a, #shop-delete > button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    background-color: rgba(165,42,42,0.7);
    outline: none;
    border: none;
    line-height: 40px;
    height: 40px;
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    text-shadow: none;
    letter-spacing: 0;
    transform: all 0.2s ease-in-out;
    border-radius: 5px;
}

#shop-edit > a:hover, #shop-delete > button:hover {
    cursor: pointer;
    background-color: rgb(165,42,42);
}

#shop-delete > button {
    background-color: rgb(128,0,0);
}

#add-shop {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: rgba(165,42,42,0.8);
    width: 50%;
    margin: 2rem auto 0 auto;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

#add-shop:hover {
    background-color: rgb(165,42,42)
}


/*Not Found page*/

#not-found {
    background-image: url('../images/barber-shop-main.jpeg');
    background-position: center;
    filter: grayscale(0.3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#not-found > div {
    color: white;
    font-size: 2.5rem;
    background: rgba(0,0,0,0.7);
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
}



@media (min-width: 700px) {
    .treatment {
        width: 50%;
        border: 1px dashed brown;
    }

    .treatment:nth-child(odd) {
        border-left: none;
    }
    .treatment:nth-child(even) {
        border-right: none;
    }
    .treatment:nth-of-type(1), .treatment:nth-of-type(2) {
        border-top: none;
    }
    .treatment:nth-of-type(3), .treatment:nth-of-type(4) {
        border-bottom: none;
    }

    .shop {
        width: 30%;
        margin: calc(10% / 6);
    }
}